<%= render 'common/top' %>
<div class="row">
  <%= render 'common/menu' %>
  <div class="col-md-9">
  <%= link_to('新增分類', new_seller_product_category_path) %></br>
  <hr>
		<table class="table table-bordered table-hover">
      <thead>
          <tr>
              <th>類別名稱</th>
              <th>創建日期</th>
              <th>編輯</th>
              <th>刪除</th>
          </tr>
      </thead>
      <% @product_categories.each do |i| %>
      <tbody>
        <tr>	       
          <td><%= i.name %></td>
          <td><%= i.created_at %></td>
          <td><%= link_to('編輯', edit_seller_product_category_path(i)) %></td>
          <td><%= link_to('刪除', seller_product_category_path(i), method: :delete, data: {confirm: "確定要刪除此分類?"}) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>