<!--contact-->
<div class="contact-info">
  <div class="container">          
    <div class="contact-form">
      <div class="row">
        <div class="col-md-12" >
        <h1><b>修改資料</b></h1>
        </div>
          <div class="col-md-5" >
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>                       
              <div class="form-group">
                <%= f.label '名字' %><br />
                <%= f.text_field :name, autofocus: true, class: :"text" %>
              </div>
              <div class="form-group">
                <%= f.label '信箱' %><br />
                <%= f.email_field :email, autofocus: true, class: :"text" %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="form-group">
                <%= f.label '密碼' %>
                <em>(如無修改"密碼"，請跳過此欄)</em><br />
                <%= f.password_field :password, autocomplete: "off", class: :"text" %>
              </div>
              <div class="form-group">
                <%= f.label '再輸入一次密碼' %>
                <em>(如無修改"密碼"，請跳過此欄)</em><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: :"text" %>
              </div>
              <div class="form-group">                
                <%= f.label '確認密碼' %>
                (請在修改資料後輸入密碼，以確保安全)<br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>
              <div class="form-group">
                  <%= f.submit "保存" %>
                  <%= link_to "返回", :back %>
              </div>
              <% end %>
              <p></p>              
              <div class="clearfix"></div>           
            </div>
            <div class="col-md-5"> 
              <%= devise_error_messages! %>
            </div>
          </div>              
        </div>
      </div>
    </div>           
  </div>
</div>
<!--//contact-->
<%= render 'common/footer' %>
<%= render 'common/copyright' %>
