<%= render 'seller/sellercommon/top' %>
<%= render 'seller/sellercommon/menu' %>
<div class="content">
  <div class="header">    
      <h1 class="page-title">商店設定</h1>
      <ul class="breadcrumb">
        <li><%= link_to('首頁', seller_products_path) %></li>
        <li><%= link_to('設定', seller_settings_path) %></li>
        <li class="active"><%= @setting.name %></li>
    </ul>
  </div>
  <%= bootstrap_form_for @setting, url: seller_setting_path(@setting) do |e| %>
  <div class="main-content">            
    <div class="row">
      <div class="col-md-4">
        <%= e.text_field :name %>
        <%= e.text_field :tel %>
        <%= e.text_field :address %>
        <%= e.text_field :zip %>
        <div class="btn-toolbar list-toolbar">
          <%= e.submit '保存', class: :"btn btn-primary" %>
          <%= link_to('返回', seller_settings_path, class: :"btn btn-primary") %>          
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <footer>
     <hr>
    <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
    <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Shoes</a></p>
    <p>© 2014 <a href="http://www.portnine.com" target="_blank">Shoes</a></p>
  </footer>
</div>

